h1, h2{
    color: white;
}
body{
    background-color: lightgray;

header{
    background-color: rgb(30, 50, 100);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img{
    width: 280px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header ul{
    list-style: none ;
}

header a{
    color: #ebebeb;

}

.div1 {
    font-size: 30px;
    background-color: rgba(1, 173, 121, 0.795);

}