.mac-book-air-4,
.mac-book-air-4 * {
  box-sizing: border-box;
}
.mac-book-air-4 {
  background: #132d46;
  width: 100%;
  height: 832px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  transition: background-color 0.4s, color 0.4s;
}
.quick-selection-box {
  background: rgba(114, 109, 110, 0.7);
  border-radius: 25px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1);
  border-width: 0.5px;
  width: 716px;
  height: 96px;
  position: absolute;
  left: 62px;
  top: 592px;
}
.main-box {
  background: rgba(114, 109, 110, 0.7);
  border-radius: 25px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1);
  border-width: 0.5px;
  width:716px;
  height:376px;
  position: absolute;
  left: 62px;
  top: 194px;
}
.upper-box {
    background: rgba(114, 109, 110, 0.7);
    border-radius: 25px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-width: 0.5px;
    width:1144px;
    height:80px;
  position: absolute;
  left: 64px;
  top: 92px;
}
.auto {
  color: #ffffff;
  text-align: left;
  font: 300 13px "Inter", sans-serif;
  position: absolute;
  left: 483px;
  top: 438px;
  width: 44px;
  height: 25px;
}
.result-box {
    background: rgba(114, 109, 110, 0.7);
    border-radius: 25px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-width: 0.5px;
  width: 406px;
  height: 598px;
  position: absolute;
  left: 800px;
  top: 194px;
}
.flag-1 {
  width: 82px;
  height: 54px;
  position: absolute;
  left: 833px;
  top: 493px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.quick-5-box {
  background: rgba(240, 239, 236, 0.2);
  border-radius: 10px 0px 0px 0px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.5px;
  color: #ffffff;
  font: 300 18px "Inter", sans-serif;
  cursor: pointer;
  width: 120px;
  height: 49px;
  position: absolute;
  left: 614px;
  top: 622px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.quick-1-box {
    background: rgba(240, 239, 236, 0.2);
    border-radius: 10px 0px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.5px;
    color: #ffffff;
  font: 300 18px "Inter", sans-serif;
  cursor: pointer;
  width: 120px;
  height: 49px;
  position: absolute;
  left: 106px;
  top: 622px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.quick-4-box {
    background: rgba(240, 239, 236, 0.2);
    border-radius: 10px 0px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.5px;
    color: #ffffff;
  font: 300 18px "Inter", sans-serif;
  cursor: pointer;
  width: 120px;
  height: 49px;
  position: absolute;
  left: 487px;
  top: 622px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.quick-3-box {
    background: rgba(240, 239, 236, 0.2);
    border-radius: 10px 0px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.5px;
    color: #ffffff;
  font: 300 18px "Inter", sans-serif;
  cursor: pointer;
  width: 120px;
  height: 49px;
  position: absolute;
  left: 360px;
  top: 622px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.quick-2-box {
    background: rgba(240, 239, 236, 0.2);
    border-radius: 10px 0px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.5px;
    color: #ffffff;
  font: 300 18px "Inter", sans-serif;
  cursor: pointer;
  width: 120px;
  height: 49px;
  position: absolute;
  left: 233px;
  top: 622px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.insert-value-box {
  background: linear-gradient(to left, #f0efec, #f0efec),
    linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.5px;
  width: 302px;
  height: 39px;
  position: absolute;
  left: 103px;
  top: 313px;
  
}
input {
  width: 100%;
  padding: 12px 10px;
  margin: 0px 0;
  box-sizing: border-box;
}
select {
  width: 100%;
  padding: 12px 10px;
  margin: 0px 0;
  box-sizing: border-box;
}

.to-box {
  background: linear-gradient(to left, #f0efec, #f0efec),
    linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 302px;
  height: 39px;
  position: absolute;
  left: 448px;
  top: 383px;
}
.from-box {
  background: linear-gradient(to left, #f0efec, #f0efec),
    linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 302px;
  height: 39px;
  position: absolute;
  left: 103px;
  top: 382px;
}
.converter-box {
  background: linear-gradient(
      to left,
      rgba(1, 195, 142, 1),
      rgba(1, 195, 142, 1)
    ),
    linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.5px;
  color: #ffffff;
  width: 188px;
  height: 39px;
  position: absolute;
  left: 562px;
  top: 449px;
  cursor: pointer;
}
.converter-box:hover{
  background: linear-gradient(
    to left,
    rgb(62, 143, 121),
    rgb(89, 196, 171)
  ),
  linear-gradient(to left, #ffffff, #ffffff);
}

button:disabled {
  background-color: #ccc; 
  color: #999; 
  cursor: not-allowed; 
  
}


.sele-o-r-pida {
  color: #ffffff;
  text-align: left;
  font: 300 13px "Inter", sans-serif;
  position: absolute;
  left: 109px;
  top: 600px;
  width: 131px;
  height: 10px;
}
.valor {
  color: #ffffff;
  text-align: left;
  font: 300 13px "Inter", sans-serif;
  position: absolute;
  left: 106px;
  top: 290px;
}
.de {
  color: #ffffff;
  text-align: left;
  font: 300 13px "Inter", sans-serif;
  position: absolute;
  left: 106px;
  top: 361px;
}
.para {
  color: #ffffff;
  text-align: left;
  font: 300 13px "Inter", sans-serif;
  position: absolute;
  left: 448px;
  top: 361px;
  width: 44px;
  height: 25px;
}
.switch-button {
  background: #f0efec;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(114, 109, 110, 1);
  border-width: 0.5px;
  width: 29px;
  height: 29px;
  position: absolute;
  left: 412px;
  top: 387px;
  
}


.v-conversao {
  color: #ffffff;
  text-align: left;
  font: 600 60px "Inter", sans-serif;
  position: absolute;
  left: 833px;
  top: 312px;
}
.usd {
  color: #01c38e;
  text-align: left;
  font: 600 30px "Inter", sans-serif;
  position: absolute;
  left: 1025px;
  top: 342px;
}

.real-brasileiro-yuan-chin-s {
  color: #ffffff;
  text-align: left;
  font: 300 13px "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 768px;
  top: 124px;
}
.real-brasileiro-euro {
  color: #ffffff;
  text-align: left;
  font: 300 13px "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 356px;
  top: 124px;
}
.real-brasileiro-libra-esterlina {
  color: #ffffff;
  text-align: left;
  font: 300 13px "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 533px;
  top: 124px;
}
.golden-currency-converter {
  color: #01c38e;
  text-align: left;
  font: 600 25px "Inter", sans-serif;
  position: absolute;
  left: 62px;
  top: 51px;
  width: 563px;
  height: 30px;
}
.cota-o-do-dia-wed-30-aug-2023-00-00-01-0000 {
  color: #ffffff;
  text-align: left;
  font: 300 13px "Inter", sans-serif;
  position: absolute;
  left: 846px;
  top: 755px;
}
.flag-2 {
  width: 82px;
  height: 54px;
  position: absolute;
  left: 971px;
  top: 493px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
._1-usd-5-00-brl {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Inter", sans-serif;
  position: absolute;
  left: 833px;
  top: 434px;
}
._0-0000029-i-4-brl {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Inter", sans-serif;
  position: absolute;
  left: 833px;
  top: 271px;
}
._1-brl-0-20000-usd {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Inter", sans-serif;
  position: absolute;
  left: 833px;
  top: 411px;
}
.logo {
  width: 117px;
  height: 102px;
  position: absolute;
  left: 1110px;
  top: 104px;
}
.real-brasileiro-d-lar-americano {
  color: #ffffff;
  text-align: left;
  font: 300 13px "Inter", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 106px;
  top: 124px;
}
/*.dark-mode-box {
  border-radius: 0px;
  position: absolute;
  left: 1148px;
  top: 40px;
  overflow: visible;
}*/
.toggle-switch {
  position: relative;
  left: 1148px;
  top: -8px;
  width: 58px;
  height: 30px;
  
}

.hidden-checkbox {
  display: none;

}

.toggle-label {
  display: block;
  position: relative;
  cursor: pointer;
  width: 58px;
  height: 30px;
  background-color: rgba(114, 109, 110, 0.7);
  border: 1px solid #ffffff;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.toggle-label::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 1.5px;
  width: 25px;
  height: 25px;
  background-color: rgba(26, 30, 41, 0.7);
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0px;
  transition: transform 0.3s ease;
}

.hidden-checkbox:checked + .toggle-label {
    background-color: rgba(1, 195, 142, 1);
 }
 .hidden-checkbox + .toggle-label {
    background-color: rgba(1, 195, 142, 1);
 }

.hidden-checkbox:checked + .toggle-label::before {
  transform: translateX(28px);
}

/*.dark-mode-button {
  background: rgba(128, 0, 0, 0.7);
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1150px;
  top: 42px;
}*/
/*.switch-box {
  border-radius: 0px;
  position: absolute;
  left: 480px;
  top: 454px;
  overflow: visible;
}*/
.toggle-switch2 {
  position: relative;
  width: 58px;
  height: 30px;
  left: 480px;
  top: 435px;
}

.hidden-checkbox2 {
  display: none;
}

.toggle-label2 {
  display: block;
  position: relative;
  cursor: pointer;
  width: 58px;
  height: 30px;
  background-color: rgba(114, 109, 110, 0.7);
  border: 1px solid #ffffff;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.toggle-label2::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 1.5px;
  width: 25px;
  height: 25px;
  background-color: rgba(1, 195, 142, 1);
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0px;
  transition: transform 0.3s ease;
}


.hidden-checkbox2:checked + .toggle-label2::before {
  transform: translateX(25px);
}

._1-00 {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Inter", sans-serif;
  position: absolute;
  left: 149px;
  top: 635.5px;
}
._10-00 {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Inter", sans-serif;
  position: absolute;
  left: 270.5px;
  top: 635.5px;
}
._20-00 {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Inter", sans-serif;
  position: absolute;
  left: 396px;
  top: 635.5px;
}
._50-00 {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Inter", sans-serif;
  position: absolute;
  left: 523px;
  top: 635.5px;
}
._100-00 {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Inter", sans-serif;
  position: absolute;
  left: 646px;
  top: 635.5px;
}
.group {
  position: absolute;
  left: 419px;
  top: 395px;
  overflow: visible;
  cursor: pointer;
}
.dark-mode-icon-dark {
  position: absolute;
  left: 1117px;
  top: 40.5px;
  overflow: visible;
}

.dark-mode-icon {
  position: absolute;
  inset: 0;
  display: none;
}
.vector3 {
  opacity: 0;
  position: absolute;
  left: 1141px;
  top: 67.5px;
  overflow: visible;
  
}
.group2 {
  position: absolute;
  left: 1118.08px;
  top: 44.58px;
  overflow: visible;
}
.icon-arrow-ios-downward {
  position: absolute;
  left: 386px;
  top: 398px;
  overflow: visible;
}
.icon-arrow-ios-downward2 {
  position: absolute;
  left: 386px;
  top: 398px;
  overflow: visible;
}
.icon-arrow-ios-downward3 {
  position: absolute;
  left: 731px;
  top: 399px;
  overflow: visible;
}
.arrowright {
  border: solid rgb(255, 255, 255);
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position:relative;
  left: 935px;
  top: 511px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


